*{
    font-family: "Silkscreen", serif;
    box-sizing: border-box;
}
body {
    background-image: url(/img/background.png);
    font-family:sans-serif;
    color: white;
 
    height: 100%;
    background-color: rgb(44, 19, 48);
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile {
    border-radius: 25px;
    background-color: rgb(221, 119, 237, 0.5);
    background-color: rgb(221, 119, 237, 0.5);
    width: 25%;
    padding: 0.5%;
    margin: auto;
    text-align: center;
}
#socials {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
#about {
    font-size: x-large;
}
.backgroundImage {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.list1 {
    background-color: rgb(85, 39, 92, 0.5);
}
.list2 {
    background-color: rgb(155, 70, 168, 0.5);
}
.socialEntry {
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: x-large;
    padding: 0.5%;
}

.socialEntry:hover {
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: x-large;
    padding: 0.5%;
}